@model List<Reservacion>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Reservaciones";
}

<br />
<div class="container table-info">
    <div class="row">
        <div class="col-8 bg-primary fw-bold">
            <h2>Reservaciones</h2>
        </div>
        <div class="col-4 bg-primary fw-bold text-right">
            <a asp-controller="Reservaciones" asp-action="Create"  class="btn btn-primary text-white">Crear</a>
        </div>
    </div>
    <div class="row">
        <div class="col-1 bg-primary fw-bold text-center">
            Id
        </div>
        <div class="col-2 bg-primary fw-bold text-center">
            Cantidad de asientos
        </div>
        <div class="col-4 bg-primary fw-bold text-center">
            Fecha
        </div>
        <div class="col-3 bg-primary fw-bold text-center">
            Cédula del cliente
        </div>
        <div class="col-2 bg-primary fw-bold text-center">
            Acción
        </div>
    </div>
    @foreach (Reservacion r in Model)
    {
        <div class="row  text-center bg-dark" id="@r.Id">
            <div class="col-1">
                @r.Id
            </div>
            <div class="col-2">
                @r.CantidadAsientos
            </div>
            <div class="col-4">
                @r.Fecha
            </div>
            <div class="col-3">
                @r.Cliente.CedulaCliente
            </div>
            <div class="col-2">
                <a id="editar" asp-controller="Reservaciones" asp-action="Upsert" asp-route-_id="@r.Id" class="btn btn-sm btn-success text-white">
                    <i class="fas fa-edit"></i>
                </a>
                <a id="borrar" onclick="Borrar('@r.Id');" class="btn btn-sm btn-danger text-white">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </div>
        </div>
    }
</div>


<script>
    function Borrar(id) {
        swal
            ({

                title: "Borrar Reservación",
                text: "¿Está seguro que desea borrar el registro?",
                icon: "warning",
                buttons: true,
                dangerMode: true
            }).then
            (
                (borrarlo) => {
                    if (borrarlo) {
                        $.ajax
                            ({
                                type: "DELETE",
                                url: "/reservaciones/borrar/?_id=" + id,
                                success: function (data) {
                                    if (data.success) {
                                        toastr.success("El registro ha sido borrado permanentemente.");
                                        $("#" + id).remove();
                                    }
                                    else {
                                        toastr.error(data.message);
                                    }
                                }
                            });
                    }
                }
            );
    }
</script>