@model List<Platillo>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Platillos";
}

<br />
<div class="container table-info">
    <div class="row" style="margin:15px; border:groove;">
        <div class="col-8 bg-primary fw-bold">
            <h2 style="margin: 10px; color: lightgoldenrodyellow">Platillos</h2>
        </div>
        <div class="col-4 bg-primary fw-bold text-right">
            <a asp-controller="Platillos" asp-action="Create"  style="margin:15px; font-size:20px"  class="btn btn-outline-warning col-6 text-center">Crear Platillo</a>
        </div>
    </div>
    <div style="color:lightgoldenrodyellow; font-size:20px" class="row">
        <div class="col-1 bg-primary fw-bold text-center">
            Id
        </div>
        <div class="col-2 bg-primary fw-bold text-center">
            Nombre
        </div>
        <div class="col-4 bg-primary fw-bold text-center">
            Descripción
        </div>

        <div class="col-3 bg-primary fw-bold text-center">Costo</div>
        <div class="col-2 bg-primary fw-bold text-center">
            Acción
        </div>
        
    </div>
    @foreach (Platillo p in Model)
    {
        <div style="padding:5px; font-size:18px" class="row  text-center bg-dark" id="@p.Id">
            <div class="col-1">
                @p.Id
            </div>
            <div class="col-2">
                @p.Nombre
            </div>
            <div class="col-4">
                @p.Descripcion
            </div>
            <div class="col-3">@p.Costo</div>
            <div style="padding-top:7px; padding-bottom:7px" class="col-2">
                <a id="editar" asp-controller="Platillos" asp-action="Upsert" asp-route-_id="@p.Id" class="btn btn-sm btn-primary text-white">
                    <i class="fas fa-edit"></i>
                </a>
                <a id="borrar" onclick="Borrar('@p.Id');" class="btn btn-sm btn-danger text-white">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </div>
        </div>
    }

</div>


<script>
    function Borrar(id) {
        swal
            ({
                title: "Borrar Platillo",
                text: "¿Está seguro que desea borrar el registro?",
                icon: "warning",
                buttons: true,
                dangerMode: true
            }).then
            (
                (borrarlo) => {
                    if (borrarlo) {
                        $.ajax
                            ({
                                type: "DELETE",
                                url: "/platillos/borrar/?_id=" + id,
                                success: function (data) {
                                    if (data.success) {
                                        toastr.success("El registro ha sido borrado permanentemente.");
                                        $("#" + id).remove();
                                    }
                                    else {
                                        toastr.error(data.message);
                                    }
                                }
                            });
                    }
                }
            );
    }
</script>